
* {
  box-sizing: border-box;
}

body {
  font-family: avenir next, myriad pro, sans-serif;
  max-width: 600px;
  margin: 5% auto;
}

.loading {
  color: #999;
}

header {
  margin-bottom: 2em;
  text-align: right;
}

a {
  cursor: pointer;
  color: #0ae;
}

h3 {
  margin: 0;
}

p {
  margin: 0 0 1em;
}

select {
  font-size: 18px;
}

input[type=text], textarea {
  border: 1px solid #ccc;
  font-size: 100%;
  padding: .8em;
  width: 100%;
}

textarea {
  height: 3em;
  resize: none;
  position: relative;
  top: -1px;
}

button {
  padding: .5em 1em;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 100%;
  border-radius: 3em;
}

.thread form {
  margin-left: 4.5em;
}

form p {
  text-align: right;
}

.thread {
  margin-bottom: 2em;
  border-left: 1px solid #ddd;
  padding-left: .6em;
}

main {
  width: 500px;
  margin-bottom: 1em;
}

.seed {
  min-height: 4em;
}

.avatar {
  border-radius: 50%;
  margin-right: 1em;
  width: 4em;
}

.avatar, main {
  display: inline-block;
  vertical-align: top;
}

.reply {
  margin-left: 1.8em;
}

.reply .avatar {
  width: 2.2em;
}


/* tags */
.current-tag {
  margin: 3em .8em;
  color: #777;
}

.current-tag strong {
  color: #000;
}

.meta {
  margin-bottom: .6em;
}

.tag {
  margin-right: .4em;
  padding: .1em .6em;
  background-color: #0ae;
  border-radius: .2em;
  font-size: 80%;
  color: #fff;
}

.tag:hover {
  box-shadow: 0 0 .1em #000;
}

.tag:active {
  box-shadow: 0 0 .3em #000 inset;
}


